md-grid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


.hr-width {
    width: 30%;
}


.heading-color{
    color: #3F51B5;
}


.revoke-btn {
    width: 30%;
}


.attr-detail-font {
    font-family: monospace;
}