<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Certificates</span>
    </mat-toolbar-row>
</mat-toolbar>


<div class="cert-create-form-container">
    <h2>
        Certificate Creation Form
    </h2>

    <form [formGroup]="certForm" (ngSubmit)="onSubmit(certForm.value)">

        <div>
            <mat-form-field class="cert-input-full-width">
                <mat-label>Device identifier</mat-label>
                <input matInput placeholder="device identifier goes here" formControlName="device_id">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="cert-input-full-width">
                <mat-label>Expiration in days</mat-label>
                <input type="number" matInput min="1" formControlName="expiry" value="1"
                    placeholder="Specify the number of days after which this certificate shall expire">
            </mat-form-field>

        </div>
        <div>
            <mat-form-field class="cert-input-full-width">
                <mat-label>Date after which the certificate will be valid</mat-label>
                <input [min]="minDate" matInput [matDatepicker]="picker" formControlName="valid_from">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        </div>

        <div>
            <div class="example-button-row">
                <button [disabled]="!certForm.valid" type="submit" mat-raised-button>Generate my Certificate</button>
            </div>

        </div>
    </form>
</div>